%heading {
  font-family: $font-display;
  font-weight: 400;
}
.heading-1 {
  display: block;
  color: $color-secondary;
  font-size: 58px;
  line-height: 64px;
  font-weight: bold;
  letter-spacing: 0;
  width: 100%;
}

.heading-2 {
  display: block;
  color: $color-grey-light-1;
  font-size: 58px;
  line-height: 64px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 20px;

  @media only screen and (max-width: 767px) {
    font-size: 48px;
    line-height: 52px;
    width: 100%;
  }
}

h2 {
  @extend %heading;
  display: inline-block;
  margin-top: 0;
  color: $color-secondary;
  font-size: 42px;
  line-height: 53px;
  font-weight: 500;
}


.heading-3 {
  display: block;
  color: $color-grey-light-1;
  font-size: 58px;
  line-height: 64px;
  font-weight: 500;
  letter-spacing: 0;
  padding: 20px;

  @media only screen and (max-width: 767px) {
     display: none;
  }
}